
 h1.me{
  color: blue;
}
h2{
  font-weight: bold;
}

h4{
  color: orange;
}

img {
  height: 350px;
  width: 280px;
}
li{
font-size: 150%;
}

img.cappadocia{
  float:right;
}

.projects li{
  color: orange;
}
.box{
  border: 2px solid green;
  padding: 5px;
  margin:8px;
}
.larger{
  font-size: 140%;
}
.highlight{
  background-color: black;
  color: white;
}
#important{
  color: red;
}


@media screen and (max-width: 768px) and (min-width: 600px) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  body {
    background-color: teal;
  }
}
